.o-p__container--bar {
  border-left: 5px solid $blue-500;
  padding-left: 15px;
  margin-left: 20px;
}

.o-p--regular {
  color: $gray-900;
  letter-spacing: 0.02rem;
  line-height: 1.6rem;
  opacity: 0.8;
}

.o-p--italic-bar {
  font-style: italic;
}

.o-p--bolditalic {
  font-style: italic;
  font-weight: 900;

}