/*** start footer main ***/

.c-footer__main {
  height: 75vh;
  background-color: $white-500;
  position: relative;
}

.c-footer__items {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.c-footer__social {
  max-width: 265px;
  margin: 0 auto 50px;
  
  ul {
    list-style: none;
    display: flex;
    padding: 0;
  }

  li {
    margin: 0 10px;
  }

  a {
    display: inline-block;
    color: $gray-900;
    padding: 10px 12px;
    border: 3px solid $gray-900;
    border-radius: 100%;  
    transition: all 400ms ease-out;
  }

  i {
    width: 16px;
    height: 16px;
    text-align: center;
  }
}
.c-footer__social a:hover {
  cursor: pointer;
}

.c-footer__social .dribbble:hover {
  color: #ea4c89;
  border: 3px solid #ea4c89;
}

.c-footer__social .facebook:hover {
  color: #3b5998;
  border: 3px solid #3b5998;
}

.c-footer__social .twitter:hover {
  color: #00aced;
  border: 3px solid #00aced;
}

.c-footer__social .paper-plane:hover {
  color: $green-500;
  border: 3px solid $green-500;
}

.c-footer__subs {
  text-align: center;
}

.c-footer__subs-title {
  padding: 20px 0;
  letter-spacing: 0.03rem;
}

.c-footer__subs-email {
  padding: 20px 0;
}

.c-footer__subs-form {
  width: 100%;
  max-width: 230px;
  background-color: $white-900;
  border-radius: 10px;
  padding: 12px 0;
  margin: 0 auto;
}

.c-footer__subs-input {
  color: $blue-500;
  font-size: $font-xs;
  width: 70%;
  background-color: transparent;
  border: none;
  padding-left: 8px;

}

.c-footer__subs-input::placeholder {
  font-size: $font-small;
  font-style: italic;
  font-weight: bold;
  opacity: 0.6;
}

.c-footer__subs-btn {
  background-color: transparent;
  border: none;
  position: relative;
  padding-left: 15px;

  i {
    color: $blue-500;
    transition: all 400ms ease-out;
  }
}

.c-footer__subs-btn::before {
  content: '';
  width: 1px;
  height: 20px;
  background-color: $gray-900;
  opacity: 0.4;
  position: absolute;
  left: 0;
}

.c-footer__subs-btn:hover i {
  color: $gray-900;
  cursor: pointer;
}

/*** end footer main ***/

/*** start footer bottom ***/

.c-footer__bottom {
  height: 100%;
  padding: 40px 0;
  position: relative;
}

.c-footer__copyright {
  width: 55%;
  font-size: $font-xxs;
  text-align: center;
  line-height: 1.5rem;
  padding-bottom: 35px;
  margin: 0 auto;

  span {
    color: $blue-500;
  }
}

.c-footer__topbtn {
  width: 43px;
  display: block;
  margin: 0 auto;

  a {
    background-color: $white-500;
    color: $gray-900;
    display: inline-block;
    padding: 18px 15px 8px 15px;
    border-radius: 8px;
  }

  i {
    font-size: $font-large;
    font-weight: 900;
  }
}

.c-footer__topbtn a:hover {
  cursor: pointer;
}

.c-footer__topbtn a:hover i {
  color: $blue-500;
  animation: bounce 1500ms ease-out infinite;
}

@keyframes bounce {
  0%  { transform: translateY(0); }
  15% { transform: translateY(-10px); }
  30% { transform: translateY(0); }
  45% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}


/****************
    BREAKPOINT
****************/

@include breakpoint(large) {

  .c-footer__main {
    height: 85vh;
  }

  .c-footer__subs {
    display: flex;
  }

  .c-footer__subs-title {
    margin-right: 20px;
    line-height: 0.5rem;
  }

  /* footer bottom */

  .c-footer__topbtn {
    position: absolute;
    top: 30px;
    right: 50px;
  }
}

