.c-footer__main {
  height: 75vh;
  background-color: $white-500;
  position: relative;
}

.c-footer__items {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.c-footer__social {
  margin: 0 auto 50px;
  
  ul {
    list-style: none;
    display: flex;
    padding: 0;
  }

  li {
    margin: 0 10px;
  }

  a {
    display: inline-block;
    color: $gray-900;
    padding: 10px 12px;
    border: 3px solid $gray-900;
    border-radius: 100%;  
    
  }

  i {
    width: 16px;
    height: 16px;
    text-align: center;
  }
}

.c-footer__subs {
  text-align: center;
}

.c-footer__subs-title {
  padding: 20px 0;
}

.c-footer__subs-email {
  padding: 20px 0;

  button {
    border: none;
  }
}



/* end footer main */
.c-footer__bottom {
  position: relative;
}

.c-footer__copyright {
  width: 55%;
  font-size: $font-xxs;
  text-align: center;
  line-height: 1.5rem;
  margin: 40px auto;

  span {
    color: $blue-500;
  }
}

.c-footer__topbtn {
  display: inline-block;
  position: absolute;

  a {
    background-color: $white-500;
    color: $gray-900;
    padding: 18px 15px 8px 15px;
    border-radius: 8px;
  }

  i {
    font-size: $font-large;
    font-weight: 900;
  }
}